{{ partial "header.html" . }}
{{ .Scratch.Set "active" 3 }}
{{ partial "nav.html" . }}
<section id="journal" class="page">
    <h1>{{ .Title }}.</h1>
    {{ $showAllPostsOnHomePage := false }}
    {{ if (isset .Site.Params "showallpostsonhomepage") }}
        {{ $showAllPostsOnHomePage = .Site.Params.ShowAllPostsOnHomePage }}
    {{ end }}
    {{ $dataFormat := .Site.Params.dateFormat | default "2006-01-02" }}
    {{ if $showAllPostsOnHomePage }}
    <ul class="post-list">
        {{ range (sort .Site.RegularPages "Date" "desc") }}
        {{ if and (eq .Section "blog") (eq .IsNode false) }}
        <li class="post-item">
            <a href="{{ .Permalink }}">
                <div>
                    <span>{{ if .Title }} {{- .Title -}} {{ else }} {{- print "Untitled" -}}{{ end }}</span>
                    <p><time datetime="{{ time .Date }}" itemprop="datePublished">{{ .Date.Format $dataFormat }}</time></p>
                </div>
                <span class="box-link">→</span>
            </a>
        </li>
        {{ end }}
        {{ end }}
    </ul>
    {{ end }}
</section>
{{ partial "footer.html" . }}
