{{ partial "header.html" . }}
{{ .Scratch.Set "active" 4 }}
{{ partial "nav.html" . }}
<section id="about-page" class="page">
    <div class="header">
        <h1>{{ .Title }}.</h1>
    </div>
    <div class="content">
        <div class="baseline">
            <span>
                Hi, I’m Geoffrey L., French full stack engineer & SRE working remotely.
            </span>
        </div>
        <div class="sentence">
            <span>My work is full of <em>Python</em>, <em>Django</em>, <em>Javascript</em>, <em>React</em>, <em>Linux</em> and <em>Sysop</em>. &lt;3 Open source.
                <br>
            I’m currently working at <a target="_blank" href="https://opencraft.com/">Opencraft ↪</a> since 2019, a fully remote company, leading provider of <a target="_blank" href="https://open.edx.org/">Open edX ↪</a> platform development.</span>
        </div>
        <div class="sentence">
            <span>I am also passionated about photography, check out some of my work <a href="/photography">here →</a>.</span>
        </div>
        <div class="sentence">
            <span>You can reach me by <a target="_blank" href="mailto:toxinu+website@gmail.com">email ↪</a>.</span>
        </div>
    </div>
    <div class="legend"><span>View of Osaka city from Abeno Harukas.</span> <span>Osaka, Japan. Summer 2020</span></div>
</section>
{{ partial "footer.html" . }}
