{{ partial "header.html" . }}
{{ .Scratch.Set "active" 2 }}
{{ partial "nav.html" . }}
<section id="photography-page" class="page">
    <div class="header">
        <h1>{{ .Title }}.</h1>
        {{ .Content }}
    </div>
    <div class="pictures">
        {{ range .Site.Params.photography }}
        <div>
            <img
                class="lazy {{ if (eq .vertical true)}}vertical{{ end }}"
                loading="lazy"
                src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3C/svg%3E"
                data-src="{{ .linkMedium }}"
                alt="{{- .name -}}"
            />
            <div><span>{{- .name -}}</span> <span>{{- .date -}}</span></div>
        </div>
        {{ end }}
    </div>
</section>
{{ partial "footer.html" . }}
