<footer>
    <section id="nav">
        <a href="/">
            <div class="site-head">
                <div class="site-name">t</div>
                <div class="site-logo">「ジョ」</div>
            </div>
        </a>
        <p>
            © 2025 by toxinu // Design <a target="_blank" href="https://www.mylenela.com/">@mylenela ↪</a>
        </p>
        <ul>
        {{ $active := .Scratch.Get "active" }}
        {{ range .Site.Menus.main }} 
            <li><a class="{{ if (eq .Weight $active )}}active{{ end }}" href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
        </ul>
    </section>
</footer>
