<footer>
    <section id="nav">
        <a href="/">
            <div class="site-head">
                <div class="site-name">t</div>
                <div class="site-logo">[]</div>
            </div>
        </a>
        <p>
            © 2020 by Geoffrey L. // Design <a target="_blank" href="https://twitter.com/mylenela">@mylenela ↪</a>
        </p>
        <ul>
        {{ $active := .Scratch.Get "active" }}
        {{ range .Site.Menus.main }} 
            <li><a class="{{ if (eq .Weight $active )}}active{{ end }}" href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
        </ul>
    </section>
</footer>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-178253729-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-178253729-1');
</script>
