{{ partial "header.html" . }}
{{ .Scratch.Set "active" 1 }}
{{ partial "nav.html" . }}
<section id="about">
    <div class="avatar"></div>
    <div class="description">
        <p class="baseline">Hello,</p>
        <p class="baseline">ジョ「Jo」,</p>
        <p class="baseline">Tech Lead ➾,</p>
        <p class="baseline">Senior software engineer,</p>
        <p class="baseline">and amateur-photographer.</p>
        <p class="location">Currently living on Earth, around Tokyo, Japan.</p>
        <div class="social">
            <a href="https://github.com/toxinu" target="_blank">Github ↪</a>
            <a href="https://gitlab.com/toxinu" target="_blank">Gitlab ↪</a>
            <a href="https://www.linkedin.com/in/geoffreylehee/" target="_blank">Linkedin ↪</a>
            <a href="mailto:jo@kikitama.com" target="_blank">Email ↪</a>
        </div>
    </div>
</section>
<section id="codes">
    <div>
        <ul class="boxes">
            <li>
                <div>
                    <span>Programming</span>
                    <p>Python, Golang, Typescript, React.js</p>
                </div>
            </li>
            <li>
                <div>
                    <span>System</span>
                    <p>Terraform, Kubernetes, AWS</p>
                </div>
             </li>
            <li>
                <div>
                    <span>Languages</span>
                    <p>French (Native), English (Professional), Japanese (Learning)</p>
                </div>
             </li>
        </ul>
    </div>
</section>
{{ partial "footer.html" . }}
