{{ partial "header.html" . }}
<div class="ta">
    <p>{{ .Site.Params.description }}</p>
    <div class="profiles grid">
        {{ if .Site.Params.instagram }}
        <a id="instagram" href="https://instagram.com/{{ .Site.Params.instagram }}"
            target="_blank"><span>{{ .Site.Params.instagram }}</span></a>
        {{ end }}
        {{ if .Site.Params.github }}
        <a id="github" href="https://github.com/{{ .Site.Params.github }}"
            target="_blank"><span>{{ .Site.Params.github }}</span></a>
        {{ end }}
        {{ if .Site.Params.gitlab }}
        <a id="gitlab" href="https://gitlab.com/{{ .Site.Params.gitlab }}"
            target="_blank"><span>{{ .Site.Params.gitlab }}</span></a>
        {{ end }}
        {{ if .Site.Params.twitter }}
        <a id="twitter" href="https://twitter.com/{{ .Site.Params.twitter }}"
            target="_blank"><span>{{ .Site.Params.twitter }}</span></a>
        {{ end }}
    </div>
</div>

<ol class="stories grid">
    {{ range .Site.Pages.ByDate.Reverse }}
        {{ if and (eq .Section "blog") (eq .IsNode false) }}
            <li>
                <a href="{{ .Permalink }}" class="left">{{ .Title }}</a>
                <time datetime="{{ .Date.Format "2006-01-02" }}" class="right">{{ .Date.Format "02 Jan 2006" }}</time>
            </li>
        {{ end }}
    {{ end }}
</ol>
{{ partial "footer.html" . }}