<style>
    section#about {
        display: flex;
        justify-content: flex-start;
    }
    section#about .avatar {
        height: 100px;
        min-height: 100px;
        width: 100px;
        min-width: 100px;
        border: 1px black solid;
        margin-right: 24px;
        background-image: url('/images/toxinu-profile.png');
        background-size: cover;
    }
    section#about .description {
        display: flex;
        flex-direction: column;
    }
    section#about .description .baseline {
        font-size: 40px;
        margin: 0 0 8px 0;
        font-family: 'IBMPlexMono-Bold';
        line-height: 52px;
    }
    section#about .description .location {
        font-size: 16px;
        font-family: 'IBMPlexMono-Bold';
        margin-bottom: 8px;
    }
    section#about .description .social {
        font-size: 16px;
        line-height: 24px;
    }
    section#about .description .social a {
        margin-right: 16px;
        white-space: nowrap;
    }
    section#about .description .social a:last-of-type {
        margin-right: 0;
    }
    /* Page */
    section#about-page {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: unset;
    }
    section#about-page .header {
        width: 70%;
        max-width: 1800px;
    }
    section#about-page .content {
        width: 90%;
        height: fit-content;
        min-height: 900px;
        padding: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #A9B7A8;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(/images/photography/abeno-view-from-harukas.jpg);
    }
    section#about-page .content .baseline {
        font-size: 40px;
        font-family: 'IBMPlexMono-Bold';
        margin-bottom: 32px;
        width: 70%;
    }
    section#about-page .content .baseline span {
        background-color: white;
    }
    section#about-page .content .sentence {
        font-size: 18px;
        width: 70%;
        margin-bottom: 16px;
    }
    section#about-page .content .sentence span {
        background-color: white;
        margin-top: 32px;
    }
    section#about-page div.legend {
        width: 90%;
        font-family: 'IBMPlexMono-Regular';
        font-size: 16px;
        margin: auto;
        margin-top: 16px;
    }
    section#about-page div.legend span:first-of-type {
        font-family: 'IBMPlexMono-BoldItalic';
    }
</style>