<style>
    *, *:before, *:after {
        box-sizing: border-box;
    }
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        width: 100%;
        padding: 32px 0;
        font-family: 'IBMPlexMono-Regular';
    }
    section {
        width: 70%;
        max-width: 1800px;
        box-sizing: border-box;
        margin-bottom: 72px;
    }
    li {
        margin-bottom: 8px;
    }
    p {
        margin: 0;
        line-height: 160%;
    }
    a { color: black; }
    .line {
        height: 3px;
        width: 100%;
        background-color: black;
    }
    section img {
        width: 100%;
    }
    h2 {
        font-family: 'IBMPlexMono-Bold';
        font-size: 24px;
    }
    code {
        background-color: #F7F7F7;
        padding: 1px;
        border-radius: 3px;
        font-family: 'IBMPlexMono-Regular';
        font-size: 14px;
    }
    iframe {
        margin: auto;
        display: block;
        margin-top: 16px;
        margin-bottom: 16px;
        border-radius: 5px;
        border: 2px solid #F5D8FF;
    }
    blockquote {
        background: #F9F9F9;
        border-left: 10px solid #F5D8FF;
        margin: 16px 0;
        padding: 16px;
        quotes: "\201C""\201D""\2018""\2019";
        border-radius: 5px;
    }
    blockquote:before {
        color: #ccc;
        content: open-quote;
        font-size: 14px;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
    }
    blockquote p {
        display: inline;
    }
    h2 code {
        font-size: 18px;
    }
    /* Page */
    section.page h1 {
        font-size: 40px;
        font-family: 'IBMPlexMono-Bold';
        line-height: 52px;
    }
</style>