<style>
    *, *:before, *:after {
        box-sizing: border-box;
    }
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        width: 100%;
        padding: 32px 0;
        font-family: 'IBMPlexMono-Regular';
    }
    section {
        width: 70%;
        max-width: 1800px;
        box-sizing: border-box;
        margin-bottom: 56px;
    }
    li {
        margin-bottom: 8px;
    }
    p {
        margin: 0;
        line-height: 160%;
    }
    strong {
        font-family: 'IBMPlexMono-Bold';
    }
    a { color: black; }
    .line {
        height: 3px;
        width: 100%;
        background-color: black;
    }
    section img {
        width: 100%;
    }
    h2 {
        font-family: 'IBMPlexMono-Bold';
        font-size: 24px;
    }
    code {
        background-color: #F7F7F7;
        padding: 1px;
        border-radius: 3px;
        font-family: 'IBMPlexMono-Regular';
        font-size: 14px;
    }
    blockquote {
        background: white;
        border-left: 4px solid black;
        margin: 16px;
        padding: 0 16px;
        font-family: 'IBMPlexMono-Italic';
    }
    blockquote p:last-of-type cite {
        display: block;
        margin-top: 32px;
    }
    h2 code {
        font-size: 18px;
    }
    hr {
        border: 0;
        height: 1px;
        background: #333;
        background-image: linear-gradient(to right, #ccc, #333, #ccc);
        margin: 32px 0;
    }
    #instantclick-bar {
        background: black;
    }
    /* Page */
    section.page h1 {
        font-size: 40px;
        font-family: 'IBMPlexMono-Bold';
        line-height: 52px;
        margin-bottom: 24px;
    }
</style>