<style>
    section#codes > p {
        margin-bottom: 32px;
    }
    section#codes ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    section#codes ul li {
        margin-bottom: 8px;
    }
    section#codes ul li:last-of-type {
        margin-bottom: 0;
    }
    section#codes ul li a {
        border: 1px solid var(--foreground-color);
        display: flex;
        text-decoration: none;
    }
    section#codes ul li a div {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 16px;
    }
    section#codes ul li a div > span {
        font-family: 'IBMPlexMono-BoldItalic';
        font-size: 20px;
    }
    section#codes ul li a div  p {
        margin-top: 8px;
        font-size: 16px;
        font-family: 'IBMPlexMono-Regular';
    }
    section#codes ul li a span.box-link {
        background-color: var(--foreground-color);
        color: var(--text-background-color);
        width: 55px;
        min-width: 55px;
        text-align: center;
        line-height: 80px;
        margin-left: auto;
    }
</style>