<style>
    section#codes > p {
        margin-bottom: 32px;
    }
    section#codes ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    section#codes ul li {
        border: 1px solid black;
        display: flex;
        margin-bottom: 8px;
    }
    section#codes ul li:last-of-type {
        margin-bottom: 0;
    }
    section#codes ul li > span {
        font-family: 'IBMPlexMono-BoldItalic';
        margin: 16px;
        font-size: 20px;
    }
    section#codes ul li span p {
        margin: 8px 0 0;
        font-size: 16px;
        font-family: 'IBMPlexMono-Regular';
    }
    section#codes ul li a {
        background-color: black;
        color: white;
        width: 55px;
        min-width: 55px;
        text-align: center;
        line-height: 80px;
        margin-left: auto;
    }
</style>