<style>
    @font-face {
        font-family: 'IBMPlexMono-Bold';
        src: url('/lib/IBMPlexMono-Bold.woff2') format('woff2'),
             url('/lib/IBMPlexMono-Bold.woff') format('woff'),
             url('/lib/IBMPlexMono-Bold.ttf')  format('truetype');
    }
    @font-face {
        font-family: 'IBMPlexMono-BoldItalic';
        src: url('/lib/IBMPlexMono-BoldItalic.woff2') format('woff2'),
             url('/lib/IBMPlexMono-BoldItalic.woff') format('woff'),
             url('/lib/IBMPlexMono-BoldItalic.ttf')  format('truetype');
    }
    @font-face {
        font-family: 'IBMPlexMono-Regular';
        src: url('/lib/IBMPlexMono-Regular.woff2') format('woff2'),
             url('/lib/IBMPlexMono-Regular.woff') format('woff'),
             url('/lib/IBMPlexMono-Regular.ttf')  format('truetype');
    }
    @font-face {
        font-family: 'IBMPlexMono-Italic';
        src: url('/lib/IBMPlexMono-Italic.woff2') format('woff2'),
             url('/lib/IBMPlexMono-Italic.woff') format('woff'),
             url('/lib/IBMPlexMono-Italic.ttf')  format('truetype');
    }
</style>