<style>
    section#journal {
        margin-top: 72px;
    }
    section#journal > p {
        margin-bottom: 32px;
    }
    section#journal ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    section#journal ul li {
        margin-bottom: 8px;
    }
    section#journal ul li:last-of-type {
        margin-bottom: 0;
    }
    section#journal ul li a {
        border: 1px solid black;
        display: flex;
        text-decoration: none;
    }
    section#journal ul li a div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 16px;
        width: 100%;
    }
    section#journal ul li a div > span {
        font-family: 'IBMPlexMono-BoldItalic';
    }
    section#journal ul li a div p {
        white-space: nowrap;
        margin-left: auto;
    }
    section#journal ul li a span.box-link {
        background-color: black;
        color: white;
        width: 55px;
        min-width: 55px;
        text-align: center;
        line-height: 50px;
        margin-left: auto;
    }
    /* Page */
    section#journal.page {
        margin-top: 0;
    }
    section#journal.page h1 {
        margin: 0;
        margin-bottom: 72px;
    }
</style>