<style>
    @media (max-width: 875px) {
        section {
            width: 80%;
        }
        section#about {
            flex-direction: column;
        }
        section#about .avatar {
            margin-bottom: 16px;
        }
        section#nav ul li {
            margin-right: 20px;
        }
        section#photography {
            width: 95%;
        }
        section#games > div {
            width: 80%;
        }
        section#games > div ul {
            flex-direction: column;
        }
        section#games > div ul li {
            margin-right: 0;
            margin-bottom: 32px;
        }
        section#journal ul li p {
            display: none;
        }
        section#journal ul li a {
            margin-left: auto;
        }
        footer {
            width: 80%;
        }
        footer section#nav ul {
            display: none;
        }
        #sidebar {
            display: none;
        }
        section#about-page .header {
            width: 80%;
        }
        section#photography-page .header {
            width: 80%;
        }
        section#photography-page .header {
            width: 80%;
        }
    }
    @media (max-width: 680px) {
        section {
            width: 90%;
        }
        section#nav {
            align-items: flex-start;
        }
        section#nav ul {
            flex-direction: column;
        }
        section#nav ul li {
            margin-right: 0;
            margin-bottom: 16px;
        }
        section#games > div {
            width: 90%;
        }
        footer {
            width: 90%;
        }
        footer section#nav {
            align-items: center;
            font-size: 12px;
        }
        section#photography-page .header {
            width: 90%;
        }
        section#about-page .header {
            width: 90%;
        }
        section#about-page .content {
            padding: 40px;
        }
        section#about-page .content .baseline {
            width: 90%;
        }
        section#about-page .content .sentence {
            width: 90%;
        }
    }
    @media (max-width: 410px) {
        footer p {
            margin-left: unset;
            margin-top: 8px;
        }
        section#about-page .content .baseline {
            font-size: 24px;
        }
    }
</style>