<style>
    section#photography {
        display: flex;
        width: 85%;
        padding-right: 40px;
        align-self: flex-end;
    }
    section#photography > div {
        width: 65%;
        margin-right: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    section#photography > a:last-of-type {
        width: 35%;
    }
    /* Page */
    section#photography-page {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: unset;
    }
    section#photography-page img {
        width: unset;
    }
    section#photography-page .social {
        margin-top: 8px;
    }
    section#photography-page .social a {
        margin-right: 16px;
    }
    section#photography-page .header {
        width: 70%;
        max-width: 1800px;
    }
    section#photography-page .header h1 {
        margin: 0;
        margin-bottom: 72px;
    }
    section#photography-page .pictures {
        display: flex;
        width: 95%;
        flex-direction: column;
        align-items: center;
    }
    section#photography-page .pictures a {
        text-decoration: none;
        margin-top: 72px;
    }
    section#photography-page .pictures a img {
        max-width: 1400px;
        width: 100%;
    }
    section#photography-page .pictures a.vertical img {
        max-width: 750px;
    }
    section#photography-page .pictures div {
        margin-top: 16px;
        font-family: 'IBMPlexMono-Regular';
        margin-right: auto;
    }
    section#photography-page .pictures div span:first-of-type {
        font-family: 'IBMPlexMono-BoldItalic';
    }
</style>