<style>
    section#post-page a.back-to-journal {
        margin-bottom: 16px;
        display: block;
    }
    section#post-page h1 {
        margin: 0;
        margin-bottom: 8px;
    }
    section#post-page h2 {
        margin: 0;
        margin-top: 40px;
    }
    section#post-page .posted-on {
        font-size: 14px;
    }
    section#post-page .content {
        margin-top: 32px;
    }
    section#post-page .content p {
        line-height: 170%;
        margin-bottom: 24px;
    }
    section#post-page .content .gist {
        margin-top: 16px;
        margin-bottom: 40px;
    }
    section#post-page .content iframe {
        max-width: 900px;
        margin: auto;
        display: block;
        margin-top: 16px;
        margin-bottom: 16px;
        border-radius: 5px;
    }
    section#post-page .content img {
        width: 60%;
        max-width: 600px;
        display: block;
        margin: auto;
        margin-top: 16px;
        margin-bottom: 40px;
        border-radius: 5px;
    }
    section#post-page .content img.small {
        width: 25%;
        max-width: 250px;
    }
    section#post-page .content img.medium {
        width: 60%;
        max-width: 600px;
    }
    section#post-page .content img.large {
        width: 80%;
        max-width: 800px;
    }
    section#post-page .content img.float-right {
        float: right;
        margin-right: 0;
        margin-left: 16px;
    }
    section#post-page .content img.float-left {
        float: left;
        margin-left: 0;
        margin-right: 16px;
    }
</style>