<style>
    section#post-page a.back-to-journal {
        margin-bottom: 16px;
        display: block;
    }
    section#post-page h1 {
        margin: 0;
        margin-bottom: 8px;
    }
    section#post-page h2 {
        margin: 0;
        margin-top: 40px;
    }
    section#post-page .posted-on {
        font-size: 14px;
    }
    section#post-page .content {
        margin-top: 32px;
    }
    section#post-page .content p {
        line-height: 170%;
        margin-bottom: 24px;
    }
    section#post-page .content .gist {
        margin-top: 16px;
        margin-bottom: 40px;
    }
    section#post-page .content img {
        width: unset;
        margin: auto;
        display: block;
        margin: 16px 16px 40px;
        border-radius: 5px;
    }
</style>