<style>
    section#post-page a.back-to-journal {
        margin-bottom: 16px;
    }
    section#post-page h1 {
        margin: 0;
        margin-bottom: 8px;
    }
    section#post-page h2 {
        margin: 0;
        margin-top: 40px;
    }
    section#post-page .content {
        margin-top: 32px;
    }
    section#post-page .content p {
        line-height: 170%;
    }
    section#post-page .content .gist {
        margin-top: 16px;
    }
    section#post-page .content img {
        width: unset;
        margin: auto;
        display: block;
        margin-bottom: 16px;
        margin-top: 16px;
        border-radius: 5px;
        border: 2px solid #F5D8FF;
    }
</style>